@model WebApplication1.Models.stdlistpractical
@{
    Layout = null;
}

@{
    ViewBag.Title = "Adivsor | Dashboard";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link href="/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/plugins/node-waves/waves.css" rel="stylesheet" />
    <link href="/plugins/animate-css/animate.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/themes/all-themes.css" rel="stylesheet" />


    @*<style>
            #tablethoery{
                display:none;
            }

        </style>*@

</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>

    <script type="text/javascript" src="~/js/topbar.js"></script>

    <!-- #Top Bar -->

    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <script type="text/javascript" src="~/js/userinfo.js"></script>

            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                @if (Convert.ToInt32(Session["roleteach"]) == 1)
                {
                    <script type="text/javascript" src="~/js/menuadmin.js"></script>
                }
                @if (Convert.ToInt32(Session["roleteach"]) == 2)
                {
                    <ul class="list">
                        <script type="text/javascript" src="~/js/menuadvisortop.js"></script>
                        @if (Convert.ToInt32(Session["sem"]) == 3 || Convert.ToInt32(Session["sem"]) == 4)
                        {
                            <script type="text/javascript" src="~/js/menuadvisorSEdefaulter.js"></script>
                        }
                        @if (Convert.ToInt32(Session["sem"]) == 5 || Convert.ToInt32(Session["sem"]) == 6)
                        {
                            <script type="text/javascript" src="~/js/menuadvisorTEdefaulter.js"></script>
                        }
                        @if (Convert.ToInt32(Session["sem"]) == 7 || Convert.ToInt32(Session["sem"]) == 8)
                        {
                            <script type="text/javascript" src="~/js/menuadvisorBEdefaulter.js"></script>
                        }

                        <script type="text/javascript" src="~/js/menuadvisorbottom.js"></script>

                    </ul>
                }
                @if (Convert.ToInt32(Session["roleteach"]) == 3)
                {
                    <script type="text/javascript" src="~/js/menuteacher.js"></script>
                }

            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <script type="text/javascript" src="~/js/footer.js"></script>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->

    </section>



    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>


            <div class="row">
                <div class="card">
                    <div class="body">

                        <p>
                            <b>Select Subject</b>
                        </p>
                        @using (Html.BeginForm("submitsubname", "practicalattendancelist", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                @Html.DropDownListFor(x => x.name, new SelectList(Model.practicalsubject, "name", "name"), "Select Subject", new { @class = "form-control", onchange = "getbatch()" })
                               <br />
                                @Html.DropDownListFor(x => x.batch, new SelectList(Enumerable.Empty<SelectListItem>(), "batch", "batch"), "Select Batch", new { @class = "form-control" })
                                <br />
                                @Html.DropDownListFor(x => x.valueyesno, new SelectList(Model.yesno, "value", "name"), "Is this week's First Batch?", new { @class = "form-control" })
                                <input type="submit" value="Submit" class="btn btn-success"/>
                            </div>
                        }
                 

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="row" id="tablethoery">
                        <div class=" col-md-6 col-md-offset-3">
                           @using (Html.BeginForm("Index", "practicalattendancelist"))
                           {
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>Roll No.</th>
                                            <th>Attendance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.attend.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.attend[i].rollno
                                                </td>
                                                <td>
                                                    @Html.HiddenFor(m => Model.attend[i].rollno)
                                                    @Html.CheckBoxFor(m => Model.attend[i].IsCheck, htmlAttributes: new { @style = "opacity: 1;position: inherit;" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <input class="btn btn-block bg-pink waves-effect" type="submit" value="submit" />
                            </div>
                           }
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="/plugins/node-waves/waves.js"></script>
    <script src="/js/admin.js"></script>
    <script src="/js/pages/index.js"></script>
    <script src="/js/demo.js"></script>

    <script>
        function getbatch() {
            debugger;
             var tid = $('#name').val();
             $.ajax({
                 url: '/practicalattendancelist/getbatch',
                 type: "GET",
                 dataType: "JSON",
                 data: { idd: tid },
                 success: function (batches) {
                     debugger;
                     $("#batch").html(""); // clear before appending new list
                     $.each(batches, function (i, batch) {
                         debugger;
                         $("#batch").append(
                             $('<option></option>').val(batches[i].batch).html(batches[i].batch));
                     });
                 }

             });
         }

    </script>
</body>

</html>


